.chu-o-giua{
    text-align: center;
}
.mau-do{
    color: red;
    font-size: 20px;
    background-color: lightblue;
}
.in-dam{ font-weight: bold}
img.can-giua {display: block; margin-left: auto; margin-right: auto;}
.maudo{color:red;}
.mauxanh{color: blue;}
.mauden{color: #000;}
